{{/* APA Citation Format */}}
{{ $taxonomy := "authors" }}
{{ if .Param $taxonomy }}
  {{ $authors := .GetTerms $taxonomy }}
  {{ $authorCount := len $authors }}
  {{ range $index, $author := $authors }}
    {{- $authorName := .LinkTitle -}}
    {{- $parts := split $authorName ", " -}}
    {{- $last := index $parts 0 -}}
    {{- $firsts := (index $parts 1 | default "") -}}
    {{- $firstInitial := (substr $firsts 0 1) -}}
    {{- $formatted := printf "%s, %s." $last $firstInitial -}}
    {{- if or (eq $authorName "Castille, Christopher M") (eq $authorName "Castille, Christopher") (eq $authorName "Christopher M Castille") (eq $authorName "Christopher Castille") (eq $authorName "Castille, C. M.") (eq $authorName "C. M. Castille") -}}
      <strong>{{ $formatted }}</strong>
    {{- else -}}
      {{ $formatted }}
    {{- end -}}
    {{- if lt (add $index 2) $authorCount -}}
      {{- if eq (add $index 2) $authorCount -}}
        , &
      {{- else -}}
        ,
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{ end }}
 ({{ .Date.Format "2006" }}). {{ .Title | replaceRE "[.]+$" "." }} 
{{ if .Params.publication_short }}
  <em>{{ .Params.publication_short | markdownify | plainify }}</em>
{{ else if .Params.publication }}
  <em>{{ .Params.publication | markdownify | plainify }}</em>
{{ end }}
{{ with .Params.doi }} https://doi.org/{{ . }}{{ end }} 