{{/* APA Citation Format */}}
{{ $taxonomy := "authors" }}
{{ if .Param $taxonomy }}
  {{ $authors := .GetTerms $taxonomy }}
  {{ $authorCount := len $authors }}
  {{ range $index, $author := $authors }}
    {{- $authorName := .LinkTitle -}}
    {{- if or (eq $authorName "Castille, Christopher M") (eq $authorName "Castille, Christopher") (eq $authorName "Christopher M Castille") (eq $authorName "Christopher Castille") (eq $authorName "Castille, C. M.") (eq $authorName "C. M. Castille") -}}
      <strong>{{ $authorName }}</strong>
    {{- else -}}
      {{ $authorName }}
    {{- end -}}
    {{- if eq (add $index 1) (sub $authorCount 1) -}}
      & 
    {{- else if lt (add $index 1) $authorCount -}}
      , 
    {{- end -}}
  {{- end -}}
{{ end }}
({{ .Date.Format "2006" }}). 
{{ .Title }}. 
{{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}}
{{ else if .Params.publication }}
  {{- .Params.publication | markdownify -}}
{{ end }}
{{ with .Params.doi }}<br/><a href="https://doi.org/{{ . }}" target="_blank">https://doi.org/{{ . }}</a>{{ end }} 