{{ $taxonomy := "authors" }}
{{ if .Param $taxonomy }}
  {{ range $index, $value := (.GetTerms $taxonomy) }}
    {{- if gt $index 0 }}, {{ end -}}
    {{- $authorName := .LinkTitle -}}
    {{- if or (eq $authorName "Castille, Christopher M") (eq $authorName "Castille, Christopher") (eq $authorName "Christopher M Castille") (eq $authorName "Christopher Castille") (eq $authorName "Castille, C. M.") (eq $authorName "C. M. Castille") -}}
      <strong>{{ $authorName }}</strong>
    {{- else -}}
      {{ $authorName }}
    {{- end -}}
  {{- end -}}
{{ end }} 