{{ define "main" }}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $query := where .Pages ".IsNode" false }}
  {{ $count := len $query }}
  {{ if $count }}

  <div class="row">
    <div class="col-lg-12">
      {{ $paginator := .Paginate $query }}
      {{ range $paginator.Pages.GroupByDate "2006" }}
      <div class="row">
        <div class="col-lg-12">
          <h2 class="mb-4">{{ .Key }}</h2>
        </div>
      </div>
      {{ range .Pages }}
      <div class="row">
        <div class="col-lg-12">
          <div class="pub-list-item view-citation" style="margin-bottom: 1rem">
            <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

            <span class="article-metadata li-cite-author">
              {{ partial "page_metadata_authors" . }}
            </span>

            <a href="{{ .RelPermalink }}">{{ .Title }}</a>

            {{ if .Params.publication_short }}
              {{- .Params.publication_short | markdownify -}}
            {{ else if .Params.publication }}
              {{- .Params.publication | markdownify -}}
            {{ end }}

            <div class="btn-links">
              {{ partial "page_links" (dict "content" . "is_list" 1) }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>

  {{ end }}
</div>

{{ end }} 